/********** Base styles **********/
* {
    box-sizing: border-box;
  }
  h1 {
    margin-bottom: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75em;
  }
  
  /*
  h3 {
    border: 1px solid black;
    background-color: hsl(0, 87%, 44%);
    width: 30%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: relative;
    float: right;
    text-align: center;
    font-size: 1.25em;
  }*/

  text {
    float: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #backToTop{
    clear: both;
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Navbar Specs*/

  #collapsable-nav{
    border: 1px solid black;
    background-color: #d3d3a2;
    clear: both;
    font-size: 1.25em;
  }

  #nav-list{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #nav-list p{
    color: #4b1e1e;
    font-size:1.25em;
    margin: 0 0 0;
  }

  #nav-list p:hover{
    color: #4b1e1e;
    background-color: #fdfda8;
    text-decoration:none;
  }
  
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      border: 1px solid black;
      background-color: hsl(34, 63%, 57%);
      margin-left: 1.5%;
      margin-right: 1.5%;
      width: 30%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
      border: 1px solid black;
      background-color: hsl(34, 63%, 57%);
      margin-bottom:5%;      
    }
    .col-md-6 {
      width: 45%;
      margin-left:2.5%;
      margin-right:2.5%;
    }

    .col-md-12 {
      width: 95%;
      margin-left:2.5%;
      margin-right:2.5%;
    }
}

      /********** small devices only **********/
  @media (max-width: 767px) {
    .col-sm-1 {
      float: left;
      border: 1px solid black;
      background-color: hsl(34, 63%, 57%);
      margin-right: 15px;
      margin-right: 15px;
      margin-bottom:3%;
      width: 100%
    }
  }
